@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap");

.home-container {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row-reverse;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    clip-path: polygon(4% 4%, 96% 4%, 96% 96%, 4% 96%);
  }

  .home-content {
    position: absolute;
    top: 100px;
    left: 120px;
    padding: 20px;
    color: white;

    h1 {
      font-size: 4.5rem;
      letter-spacing: 5px;
      text-shadow: -5px 5px 0px #00e6e6, -10px 10px 0px #01cccc,
        -15px 15px 0px #00bdbd, 2px 2px 2px rgba(48, 44, 149, 0.01);
    }
    p {
      font-style: italic;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      .content-main {
        margin-bottom: 10px;
        font-style: italic;
        font-size: 1.5rem;
        font-weight: 800;
      }
    }
  }

  .home-button {
    margin-top: 60px;
    margin-left: 50px;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 2px;
    padding: 20px;
    width: 30%;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 900;
    background-color: #00d8d6;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .home-button:hover {
    transform: translateY(-3px);
    letter-spacing: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
}

.mobile-container {
  .content {
    width: 100vw;
    height: 100vh;
    color: white;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #434343,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #434343,
      #000000
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: grid;
    place-items: center;
    padding: 30px;

    .title {
      padding: 0 30px 0 30px;
      display: grid;
      place-items: center;

      h1 {
        font-size: 2.7em;
        letter-spacing: 4px;
        text-shadow: -5px 5px 0px #00e6e6, -10px 10px 0px #01cccc,
          -15px 15px 0px #00bdbd, 2px 2px 2px rgba(48, 44, 149, 0.01);
      }
    }
    .button {
      font-size: 1rem;
      text-align: center;
      letter-spacing: 2px;
      padding: 20px;
      width: 40%;
      cursor: pointer;
      border-radius: 20px;
      font-weight: 900;
      background-color: #00d8d6;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    .button:hover {
      transform: translateY(-3px);
      letter-spacing: 4px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
  }
}
